@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;

}
body {
	background: #061c2d;
} 
.company-name {
    text-align: center;
    margin:0;
    font: size 1em;
    font-family:'Poppins' ;
    font-weight: normal;
    color: white;

}
.company-name-large {
    font-size:2em;
}
section {
	position:relative;
	width: 100%;
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;

}
section .reveal {
	position:relative;
	color: #fff;
	font-size: 2em;
	padding: 0 5px;
	font-weight: 500;
	transform-origin:left;
	transform:scaleX(0);
	transition:0.5s;
	transition-delay: 0.5s;
}
section .reveal.active{
	transform: scaleX(1);
	transition-delay: 0;
}
section .reveal:nth-child(2){
	font-weight: 300;
	font-size: 1.5em;
	letter-spacing:2px;
	margin-top: 5px;
	display: inline-block;
}
section .reveal:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #e02bff;
	transform-origin: right;
	transition: 0.5s;
	transition-delay: 0;
}
section .reveal:nth-child(2):before{
	background: #ffeb3b;
}
section .reveal.active:before{
	transform: scaleX(0);
	transition-delay: 0.5s;
}
section img {
	position: relative;
	left:-200px; 
	display: block;
	margin-left: 100px;
	margin-top: 100px;
	max-width: 600px;
	opacity: 0;
	transition: 0.5s;
	width: 500px;
    height:800px;

}
section img.active {
	opacity: 1;
	left:0; 
}
